#bodystyle{
    font-family: Arial,Verdana,Sans-serif;
    font-size:18px;
}
#header{
    width:60%;
    height: auto;
    margin-left:20%;
    margin-right:20%;
    margin-top: 10px;
}
#content{
    width:60%;
    height: auto;
    margin-left:20%;
    margin-right:20%;
    margin-top: 10px;
}
#footer{
    width:60%;
    height: auto;
    margin-left:20%;
    margin-right:20%;
    margin-top: 10px;
}

#personal-infor{
    width:100%;
    height: 200px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}
#short-bio{
    width:100%;
    height: 200px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}
#news-events{
    width:100%;
    height: 200px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}

#talks{
    width:100%;
    height: 200px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}
#service{
    width:100%;
    height: 200px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}

#selected-publication{
    width:100%;
    height: 900px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}

#current-members{
    width:100%;
    height: 500px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}

#past-members{
    width:100%;
    height: 500px;
    margin-top: 10px;
    border:1px solid #cdcdcd;
    border-radius: 5px;
}

#footbody{
    width:100%;
    height:50px;
    margin-bottom: 10px;
    background-color:#222222 ;
    text-align: center;

}

.img-en {
    display: flex;
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    vertical-align: middle;
    border-radius: 3px;
}
.img-cn {
    display: flex;
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    vertical-align: middle;
    border-radius: 3px;
}
.h3-style {
    font: bold 23px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footfont{
    color: white;
    margin-top: 5px;
    font-size:18px ;

}
/*#footer{

}
#container{
    margin-top: 10px;
    margin-left: 200px;
    margin-right:200px;
    width: auto;
    height:auto;
}
#inforpanel{
	margin-top: 10px;
    float:left;
    width:252px;
    height:920px;
    border:1px solid #6d6d6d;

}

#data{
    width:250px;
    height:200px;
}
#datatitle{
    width: 250px;
    height: 40px;
    font-family: Arial,Verdana,Sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:#6d6d6d;
}
#dataselect{
    padding-left: 20px;
    padding-top: 20px;
    width:250px;
    height:150px;
}
#detail{
    width:250px;
    height:600px;
}
#detailtitle{
    width: 250px;
    height: 40px;
    font-family: Arial,Verdana,Sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:#6d6d6d;
}
#detailselect{
    padding-left:10px;
    padding-top: 10px;
    width:250px;
    height:560px;
}
#operation{
    width:250px;
    height:200px;
}
#operationtitle{
    width: 250px;
    height: 40px;
    font-family: Arial,Verdana,Sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:#6d6d6d;
}
#operationselect{
    padding-left: 20px;
    padding-top: 20px;
    width:250px;
    height:150px;
}

#mainview{
	margin-top: 10px;
    margin-left: 10px;
    float:left;
    width:892px;
    height:920px;
    border:1px solid #6d6d6d;
}
#viewtitle{
    width: 890px;
    height: 40px;
    font-family: Arial,Verdana,Sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:#6d6d6d;
}
#viewbody{
    width:890px;
    height:880px;
}
*/
