#bodystyle{
    font-family: Arial,Verdana,Sans-serif;
    font-size:18px;
    background-color:#ECF6F6;
}
#bodystyle h3{
    font: bold 20px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 80px;
    margin-top: -80px;
}

#header{
    width:100%;
    height: auto;
    margin-top: 10px;
}
#content{
     width:80%;
     height: auto;
     margin-left:10%;
     margin-right:10%;
     padding-top: 80px;
     font-size: 16px;

 }

#content label{
    font-size:18px ;
    font-weight: bold;
}

#footer{
    width:100%;
    height: auto;
    margin-top: 30px;
}

#personal-infor{
    width:100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 0px;
    background-color:#ffffff;
    border-radius: 5px;
    overflow: hidden;
}
#news{
    width:100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 20px;
    background-color:#ffffff;
    border-radius: 5px;
}

#service{
      width:100%;
      height:auto;
      margin-top: 10px;
      margin-bottom: 40px;
      padding: 20px 20px 20px 20px;
      background-color:#ffffff;
      border-radius: 5px;
}
#courses{
    width:100%;
    height:auto;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 20px;
    background-color:#ffffff;
    border-radius: 5px;
}
#talks{
    width:100%;
    height:auto;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 20px;
    background-color:#ffffff;
    border-radius: 5px;
}
#selected-publication{
    width:100%;
    height: auto;
    margin-top:10px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 20px;
    background-color:#ffffff;
    border-radius: 5px;
}
#selected-publication hr{
    height:1px;
    border:none;
    border-top:1px dotted #185598;
}

#team{
    width:100%;
    height:auto;
    margin-top:10px;
    padding: 20px 20px 20px 20px;
    background-color:#ffffff;
    border-radius: 5px;
}

#current-members{
    width:100%;
    height:auto;
    margin-top:10px;
    padding: 20px 20px 20px 20px;
    background-color:#ECF0F1;
    border-radius: 5px;
}

#past-members{
    width:100%;
    height:auto;
    margin-top:10px;
    padding: 20px 20px 20px 20px;
    background-color:#ECF0F1;
    border-radius: 5px;
}

#footbody{
    width:100%;
    height:50px;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;

}
#footbody label{
    color: #34495E;
    margin-top: 5px;
    font-size:18px ;

}

.row{
    width:100%;
    height:auto;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
}

.row1{
    width:20%;
    height:auto;
    padding-top:5px ;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    float:left;
}

.row2{
    width:70%;
    height:auto;
    float:left;
}
.navbar.navbar-default.navbar-fixed-top.mystyle{
    border-radius: 0px;
    background-color: #ffffff;
}
.nav.navbar-nav.mystyle{
    padding-left: 50px;
}
.nav.navbar-nav.navbar-right.mystyle{
   padding-right: 50px;
}





